.card {
  background-color: #036b52;
  border: 4px solid #fafafa;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 200px;
}

.cardTitle {
  margin: 0;
  text-align: center;
}

.cardRare {
  text-align: center;
}

.cardImage {
  height: 200px;
  width: 200px;
}

.name-card {
  background-color: red;
}
