.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #036b52;
  color: white;
  margin: 8px 8px;
  border: 4px solid #fafafa;
}

.cardTitle {
  text-align: center;
  margin: 0;
}

.cardRare {
  text-align: center;
}

.cardImage {
  width: 200px;
  height: 200px;
}

.name-card {
  background-color: red;
}